# SL Vehicle Price Prediciton

# Load Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix,classification_report
from catboost import CatBoostClassifier, CatBoostRegressor
# from sklearn.model_selection import GridSearchCV

import seaborn as sns
from matplotlib import pyplot

## Load Data

In [2]:
# Read Data
# Change the line to local dir path
df = pd.read_csv("vehicle_data.csv")

C:\Users\Nidula\AppData\Local\Temp\ipykernel_18636\813459222.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("vehicle_data.csv")

In [3]:
df.head()

,Title,Sub_title,Price,Brand,Model,Edition,Year,Condition,Transmission,Body,Fuel,Capacity,Mileage,Location,Description,Post_URL,Seller_name,Seller_type,published_date
0,Honda Vezel Limited 2017 for sale,"Posted on 01 Sep 2:45 pm, Kurunegala City, Kur...","Rs 12,900,000",Honda,Vezel,Limited,2017,Used,Automatic,SUV / 4x4,Hybrid,"1,500 cc","37,000 km","Kurunegala City, Kurunegala",HONDA VEZEL LIMITEDCBE-XXXXMANU YEAR : 2017LIM...,https://ikman.lk/en/ad/honda-vezel-limited-201...,Prasad Enterprises,Premium-Member,2022-09-01 14:45:00
1,Jaguar XF Fully Loaded 2013 for sale,"Posted on 28 Sep 10:23 am, Kurunegala City, Ku...","Rs 16,250,000",Jaguar,XF,Fully Loaded,2013,Used,Automatic,Saloon,Diesel,"2,200 cc","42,000 km","Kurunegala City, Kurunegala",1st owner(registered owner)Diesel(13-14km per ...,https://ikman.lk/en/ad/jaguar-xf-fully-loaded-...,Dhanushka Dharmasri,Member,2022-09-28 10:23:00
2,Toyota CHR GT New Face 2wd 2020 for sale,"Posted on 16 Sep 1:16 pm, Colombo 7, Colombo","Rs 17,000,000",Toyota,CHR,GT New Face 2wd,2020,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","15,000 km","Colombo 7, Colombo",2020 Facelift modelFirst owner (No previous ow...,https://ikman.lk/en/ad/toyota-chr-gt-new-face-...,Carzone Lanka,Member,2022-09-16 13:16:00
3,Toyota CHR Toyato 2017 for sale,"Posted on 30 Sep 10:12 am, Colombo 7, Colombo","Rs 13,000,000",Toyota,CHR,Toyato,2017,Used,Automatic,SUV / 4x4,Petrol,"1,200 cc","21,000 km","Colombo 7, Colombo",Toyota CHR GT Turbo1st owner Imported as a bra...,https://ikman.lk/en/ad/toyota-chr-toyato-2017-...,Carzone Lanka,Member,2022-09-30 10:12:00
4,Toyota Land Cruiser Prado 2015 for sale,"Posted on 30 Sep 9:50 pm, Kelaniya, Gampaha","Rs 33,500,000",Toyota,Land Cruiser Prado,prado,2015,Used,Automatic,SUV / 4x4,Petrol,"2,700 cc","57,000 km","Kelaniya, Gampaha",Toyota Land Cruiser Prado 20152 nd Owner for 5...,https://ikman.lk/en/ad/toyota-land-cruiser-pra...,Shine Music Center,Member,2022-09-30 21:50:00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123971 entries, 0 to 123970
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Title           123971 non-null  object
 1   Sub_title       123971 non-null  object
 2   Price           123971 non-null  object
 3   Brand           123971 non-null  object
 4   Model           123970 non-null  object
 5   Edition         47538 non-null   object
 6   Year            123971 non-null  int64
 7   Condition       123971 non-null  object
 8   Transmission    123970 non-null  object
 9   Body            118876 non-null  object
 10  Fuel            123971 non-null  object
 11  Capacity        123766 non-null  object
 12  Mileage         123971 non-null  object
 13  Location        123971 non-null  object
 14  Description     107797 non-null  object
 15  Post_URL        123971 non-null  object
 16  Seller_name     123873 non-null  object
 17  Seller_type     123971 non-null  object
 18  published_date  123971 non-null  object
dtypes: int64(1), object(18)
memory usage: 18.0+ MB

In [5]:
df.describe()

                Year
count  123971.000000
mean     2008.409765
std        25.330835
min         0.000000
25%      2004.000000
50%      2013.000000
75%      2016.000000
max      2561.000000

In [6]:
df.isnull().sum()

Title                 0
Sub_title             0
Price                 0
Brand                 0
Model                 1
Edition           76433
Year                  0
Condition             0
Transmission          1
Body               5095
Fuel                  0
Capacity            205
Mileage               0
Location              0
Description       16174
Post_URL              0
Seller_name          98
Seller_type           0
published_date        0
dtype: int64

## Data Preprocessing

In [7]:
temp = df.copy()

In [8]:
df = temp.copy()

In [9]:
# Remove Duplicates
df = df.drop_duplicates(subset='Post_URL', keep="first")

In [10]:
# Remove Unnecasary Fields
selected_columns = ['Price', 'Brand', 'Model', 'Year', 'Edition',
       'Condition', 'Transmission', 'Body', 'Fuel', 'Capacity', 'Mileage', 'Seller_type']

df = df[selected_columns]

In [11]:
# Fill Missing Values with appripriate values
df["Fuel"] = df["Fuel"].fillna("Petrol")
df["Seller_type"] = df["Seller_type"].fillna("Member")
df["Edition"] = df["Edition"].fillna("standard")

In [12]:
# Extract Numeric Columns
def extract_num(row):
    amount = ""
    for w in str(row):
        if w.isnumeric():
            amount += w
    if amount == "":
        return None
    return int(amount)
    
df["Price"] = df["Price"].apply(extract_num)
df["Mileage"] = df["Mileage"].apply(extract_num)
df["Capacity"] = df["Capacity"].apply(extract_num)

In [13]:
# No need to scale or encode the data because caboost automatically scales and applies label encoding

In [14]:
df = df.dropna()

In [15]:
X = df.drop("Price", axis=1)
y = df["Price"]

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97927 entries, 0 to 123910
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         97927 non-null  object
 1   Model         97927 non-null  object
 2   Year          97927 non-null  int64
 3   Edition       97927 non-null  object
 4   Condition     97927 non-null  object
 5   Transmission  97927 non-null  object
 6   Body          97927 non-null  object
 7   Fuel          97927 non-null  object
 8   Capacity      97927 non-null  float64
 9   Mileage       97927 non-null  float64
 10  Seller_type   97927 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 9.0+ MB

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

## Build Catoost Model

In [18]:
param_grid = {'depth': 15, 'learning_rate': 0.04, 'od_type': 'Iter', 'od_type':"Iter",'od_wait': 10, 'task_type':"GPU"}
cat = CatBoostRegressor(**param_grid)

In [19]:
cat_features = ['Brand', 'Model', 'Condition', 'Transmission', 'Edition',
       'Body', 'Seller_type', 'Fuel']

X.columns

Index(['Brand', 'Model', 'Year', 'Edition', 'Condition', 'Transmission',
       'Body', 'Fuel', 'Capacity', 'Mileage', 'Seller_type'],
      dtype='object')

In [20]:
cat.fit(X_train, y_train, eval_set=(X_test, y_test), cat_features=cat_features)

0:	learn: 10552399.8113207	test: 9726061.1143985	best: 9726061.1143985 (0)	total: 541ms	remaining: 9m
1:	learn: 10311532.0020717	test: 9454938.6138207	best: 9454938.6138207 (1)	total: 979ms	remaining: 8m 8s
2:	learn: 10090232.9319103	test: 9202354.0814544	best: 9202354.0814544 (2)	total: 1.41s	remaining: 7m 49s
3:	learn: 9877944.3688400	test: 8957525.0713468	best: 8957525.0713468 (3)	total: 1.83s	remaining: 7m 36s
4:	learn: 9677111.5116556	test: 8726860.7587053	best: 8726860.7587053 (4)	total: 2.26s	remaining: 7m 30s
5:	learn: 9483961.8102797	test: 8502809.3288576	best: 8502809.3288576 (5)	total: 2.72s	remaining: 7m 30s
6:	learn: 9301531.4377773	test: 8291059.3493468	best: 8291059.3493468 (6)	total: 3.16s	remaining: 7m 28s
7:	learn: 9138761.4897352	test: 8096459.8303860	best: 8096459.8303860 (7)	total: 3.59s	remaining: 7m 24s
8:	learn: 8977093.3695397	test: 7904717.8859877	best: 7904717.8859877 (8)	total: 4.01s	remaining: 7m 22s
9:	learn: 8823721.6991288	test: 7728954.6594174	best: 7728954.6594174 (9)	total: 4.45s	remaining: 7m 20s
10:	learn: 8671313.9676336	test: 7560541.4965878	best: 7560541.4965878 (10)	total: 4.87s	remaining: 7m 17s
11:	learn: 8522233.3055949	test: 7392044.1582626	best: 7392044.1582626 (11)	total: 5.3s	remaining: 7m 16s
12:	learn: 8387092.4165185	test: 7236981.2038757	best: 7236981.2038757 (12)	total: 5.73s	remaining: 7m 14s
13:	learn: 8261529.8860500	test: 7088602.4128293	best: 7088602.4128293 (13)	total: 6.19s	remaining: 7m 15s
14:	learn: 8140549.6817667	test: 6944004.1062235	best: 6944004.1062235 (14)	total: 6.61s	remaining: 7m 14s
15:	learn: 8029189.2227505	test: 6808710.2912335	best: 6808710.2912335 (15)	total: 7.03s	remaining: 7m 12s
16:	learn: 7914881.3507035	test: 6686648.7719909	best: 6686648.7719909 (16)	total: 7.46s	remaining: 7m 11s
17:	learn: 7815099.0109954	test: 6567721.2354157	best: 6567721.2354157 (17)	total: 7.9s	remaining: 7m 10s
18:	learn: 7722989.6931976	test: 6455839.8313091	best: 6455839.8313091 (18)	total: 8.34s	remaining: 7m 10s
19:	learn: 7626754.3902262	test: 6347047.8278976	best: 6347047.8278976 (19)	total: 8.76s	remaining: 7m 9s
20:	learn: 7547704.0533098	test: 6244913.2590633	best: 6244913.2590633 (20)	total: 9.17s	remaining: 7m 7s
21:	learn: 7471558.1009587	test: 6150285.5617259	best: 6150285.5617259 (21)	total: 9.61s	remaining: 7m 7s
22:	learn: 7392656.0222196	test: 6066204.5554275	best: 6066204.5554275 (22)	total: 10s	remaining: 7m 6s
23:	learn: 7317828.6646502	test: 5977035.7550682	best: 5977035.7550682 (23)	total: 10.5s	remaining: 7m 5s
24:	learn: 7245151.3162077	test: 5896721.8815053	best: 5896721.8815053 (24)	total: 10.9s	remaining: 7m 4s
25:	learn: 7179621.0702958	test: 5820420.5244542	best: 5820420.5244542 (25)	total: 11.3s	remaining: 7m 3s
26:	learn: 7112973.0842067	test: 5736872.2558100	best: 5736872.2558100 (26)	total: 11.7s	remaining: 7m 3s
27:	learn: 7054883.0029126	test: 5667777.5954113	best: 5667777.5954113 (27)	total: 12.2s	remaining: 7m 2s
28:	learn: 6998768.4786230	test: 5603477.7196663	best: 5603477.7196663 (28)	total: 12.6s	remaining: 7m 1s
29:	learn: 6949169.6546252	test: 5540565.2417531	best: 5540565.2417531 (29)	total: 13.1s	remaining: 7m 2s
30:	learn: 6900109.9712843	test: 5480269.9348868	best: 5480269.9348868 (30)	total: 13.5s	remaining: 7m 1s
31:	learn: 6846682.1507663	test: 5419335.8700042	best: 5419335.8700042 (31)	total: 13.9s	remaining: 7m
32:	learn: 6791500.8718000	test: 5369864.8205773	best: 5369864.8205773 (32)	total: 14.4s	remaining: 7m
33:	learn: 6745352.3904532	test: 5320206.4550543	best: 5320206.4550543 (33)	total: 14.8s	remaining: 6m 59s
34:	learn: 6704849.5136893	test: 5273315.2883990	best: 5273315.2883990 (34)	total: 15.2s	remaining: 6m 59s
35:	learn: 6663778.0078030	test: 5223038.9473451	best: 5223038.9473451 (35)	total: 15.6s	remaining: 6m 58s
36:	learn: 6618017.9289234	test: 5174615.5616140	best: 5174615.5616140 (36)	total: 16.1s	remaining: 6m 58s
37:	learn: 6572374.6387560	test: 5129810.0394944	best: 5129810.0394944 (37)	total: 16.6s	remaining: 6m 59s
38:	learn: 6536771.1235745	test: 5092982.5289949	best: 5092982.5289949 (38)	total: 17s	remaining: 6m 58s
39:	learn: 6499452.3472722	test: 5058870.4548750	best: 5058870.4548750 (39)	total: 17.4s	remaining: 6m 58s
40:	learn: 6464817.1799015	test: 5030208.2282483	best: 5030208.2282483 (40)	total: 17.9s	remaining: 6m 57s
41:	learn: 6436458.6365084	test: 4997727.7370843	best: 4997727.7370843 (41)	total: 18.3s	remaining: 6m 57s
42:	learn: 6408396.8055528	test: 4965131.4032083	best: 4965131.4032083 (42)	total: 18.7s	remaining: 6m 56s
43:	learn: 6371921.6552303	test: 4934633.4859609	best: 4934633.4859609 (43)	total: 19.1s	remaining: 6m 55s
44:	learn: 6338615.5157668	test: 4906984.4371485	best: 4906984.4371485 (44)	total: 19.6s	remaining: 6m 55s
45:	learn: 6313373.7034930	test: 4883903.4062106	best: 4883903.4062106 (45)	total: 20s	remaining: 6m 55s
46:	learn: 6287217.0720630	test: 4854758.9158284	best: 4854758.9158284 (46)	total: 20.4s	remaining: 6m 54s
47:	learn: 6262126.1804636	test: 4839743.8991803	best: 4839743.8991803 (47)	total: 20.8s	remaining: 6m 53s
48:	learn: 6233771.6466271	test: 4814008.4035441	best: 4814008.4035441 (48)	total: 21.3s	remaining: 6m 52s
49:	learn: 6212323.6734606	test: 4792556.0939989	best: 4792556.0939989 (49)	total: 21.7s	remaining: 6m 51s
50:	learn: 6191318.2613304	test: 4772200.7334786	best: 4772200.7334786 (50)	total: 22.1s	remaining: 6m 51s
51:	learn: 6163459.7851898	test: 4753450.4260057	best: 4753450.4260057 (51)	total: 22.6s	remaining: 6m 51s
52:	learn: 6140099.1577478	test: 4735607.0990418	best: 4735607.0990418 (52)	total: 23s	remaining: 6m 50s
53:	learn: 6124424.8941068	test: 4723723.5582376	best: 4723723.5582376 (53)	total: 23.4s	remaining: 6m 50s
54:	learn: 6101130.2746888	test: 4712026.1731237	best: 4712026.1731237 (54)	total: 23.9s	remaining: 6m 49s
55:	learn: 6084410.2227102	test: 4697910.0137210	best: 4697910.0137210 (55)	total: 24.3s	remaining: 6m 49s
56:	learn: 6066718.0273096	test: 4682954.7612491	best: 4682954.7612491 (56)	total: 24.7s	remaining: 6m 48s
57:	learn: 6054882.3197861	test: 4672298.5388278	best: 4672298.5388278 (57)	total: 25.1s	remaining: 6m 47s
58:	learn: 6038430.6314865	test: 4659448.8577012	best: 4659448.8577012 (58)	total: 25.5s	remaining: 6m 47s
59:	learn: 6021796.4893895	test: 4648153.7909820	best: 4648153.7909820 (59)	total: 26s	remaining: 6m 47s
60:	learn: 6002655.2622363	test: 4637009.5942862	best: 4637009.5942862 (60)	total: 26.4s	remaining: 6m 46s
61:	learn: 5983794.2098586	test: 4627910.0614471	best: 4627910.0614471 (61)	total: 26.9s	remaining: 6m 46s
62:	learn: 5969975.6099715	test: 4614788.3428608	best: 4614788.3428608 (62)	total: 27.3s	remaining: 6m 45s
63:	learn: 5953618.0211732	test: 4606124.8188834	best: 4606124.8188834 (63)	total: 27.7s	remaining: 6m 45s
64:	learn: 5941233.6585850	test: 4597237.3840636	best: 4597237.3840636 (64)	total: 28.1s	remaining: 6m 44s
65:	learn: 5934835.7715895	test: 4590119.4416913	best: 4590119.4416913 (65)	total: 28.6s	remaining: 6m 44s
66:	learn: 5926988.5403592	test: 4580576.5392469	best: 4580576.5392469 (66)	total: 29s	remaining: 6m 43s
67:	learn: 5903089.4514166	test: 4574419.5247198	best: 4574419.5247198 (67)	total: 29.4s	remaining: 6m 43s
68:	learn: 5896883.9565069	test: 4568463.1139814	best: 4568463.1139814 (68)	total: 29.8s	remaining: 6m 42s
69:	learn: 5882457.2150082	test: 4557559.6013366	best: 4557559.6013366 (69)	total: 30.2s	remaining: 6m 41s
70:	learn: 5866354.2880161	test: 4550965.9443661	best: 4550965.9443661 (70)	total: 30.6s	remaining: 6m 40s
71:	learn: 5857974.2401005	test: 4543023.9331034	best: 4543023.9331034 (71)	total: 31s	remaining: 6m 40s
72:	learn: 5848067.5013083	test: 4536398.1272195	best: 4536398.1272195 (72)	total: 31.5s	remaining: 6m 40s
73:	learn: 5841410.3381933	test: 4528527.9961580	best: 4528527.9961580 (73)	total: 31.9s	remaining: 6m 39s
74:	learn: 5829589.6026643	test: 4521710.6328960	best: 4521710.6328960 (74)	total: 32.4s	remaining: 6m 39s
75:	learn: 5808060.8124226	test: 4516658.1495246	best: 4516658.1495246 (75)	total: 32.8s	remaining: 6m 38s
76:	learn: 5790512.0893074	test: 4510952.9279448	best: 4510952.9279448 (76)	total: 33.2s	remaining: 6m 37s
77:	learn: 5790224.1918116	test: 4510533.0929267	best: 4510533.0929267 (77)	total: 33.6s	remaining: 6m 36s

78:	learn: 5776468.1472503	test: 4506413.5644783	best: 4506413.5644783 (78)	total: 33.9s	remaining: 6m 35s
79:	learn: 5771505.7186211	test: 4503472.2985706	best: 4503472.2985706 (79)	total: 34.3s	remaining: 6m 35s
80:	learn: 5763137.1177362	test: 4499379.2519168	best: 4499379.2519168 (80)	total: 34.8s	remaining: 6m 34s
81:	learn: 5757251.0028463	test: 4495702.3719110	best: 4495702.3719110 (81)	total: 35.2s	remaining: 6m 33s
82:	learn: 5738432.5827342	test: 4493240.5972358	best: 4493240.5972358 (82)	total: 35.6s	remaining: 6m 33s
83:	learn: 5735527.9035401	test: 4490552.6510774	best: 4490552.6510774 (83)	total: 36.1s	remaining: 6m 33s
84:	learn: 5735250.8411125	test: 4490232.8805360	best: 4490232.8805360 (84)	total: 36.4s	remaining: 6m 32s
85:	learn: 5729593.2847228	test: 4485628.1601478	best: 4485628.1601478 (85)	total: 36.9s	remaining: 6m 31s
86:	learn: 5721737.1132858	test: 4481848.2111952	best: 4481848.2111952 (86)	total: 37.3s	remaining: 6m 31s
87:	learn: 5721454.4769845	test: 4481637.6203764	best: 4481637.6203764 (87)	total: 37.4s	remaining: 6m 27s
88:	learn: 5713700.1082367	test: 4479060.0167995	best: 4479060.0167995 (88)	total: 37.9s	remaining: 6m 27s
89:	learn: 5710996.9306131	test: 4476385.1101806	best: 4476385.1101806 (89)	total: 38.3s	remaining: 6m 27s
90:	learn: 5708443.2701637	test: 4473697.4283077	best: 4473697.4283077 (90)	total: 38.7s	remaining: 6m 26s
91:	learn: 5705474.1256943	test: 4473458.8067617	best: 4473458.8067617 (91)	total: 39.1s	remaining: 6m 25s
92:	learn: 5687920.3478430	test: 4467698.8129083	best: 4467698.8129083 (92)	total: 39.6s	remaining: 6m 26s
93:	learn: 5687682.9155379	test: 4467411.5705378	best: 4467411.5705378 (93)	total: 39.7s	remaining: 6m 22s
94:	learn: 5669841.1049024	test: 4458957.4315858	best: 4458957.4315858 (94)	total: 40.1s	remaining: 6m 22s
95:	learn: 5667820.5778910	test: 4456570.0312339	best: 4456570.0312339 (95)	total: 40.5s	remaining: 6m 21s
96:	learn: 5666100.7056803	test: 4454933.1567274	best: 4454933.1567274 (96)	total: 41s	remaining: 6m 21s
97:	learn: 5666086.3941537	test: 4454879.7980812	best: 4454879.7980812 (97)	total: 41.1s	remaining: 6m 17s
98:	learn: 5656284.1399549	test: 4452687.4061850	best: 4452687.4061850 (98)	total: 41.5s	remaining: 6m 17s
99:	learn: 5648552.1159180	test: 4448618.4192203	best: 4448618.4192203 (99)	total: 41.9s	remaining: 6m 17s
100:	learn: 5641017.6603799	test: 4447078.0288995	best: 4447078.0288995 (100)	total: 42.4s	remaining: 6m 17s
101:	learn: 5640945.5077470	test: 4446934.8289167	best: 4446934.8289167 (101)	total: 42.4s	remaining: 6m 13s
102:	learn: 5629375.8784008	test: 4444581.2307374	best: 4444581.2307374 (102)	total: 42.8s	remaining: 6m 12s
103:	learn: 5622305.5708102	test: 4443596.3312269	best: 4443596.3312269 (103)	total: 43.2s	remaining: 6m 12s
104:	learn: 5615746.4965892	test: 4440971.1689887	best: 4440971.1689887 (104)	total: 43.7s	remaining: 6m 12s
105:	learn: 5598263.7451799	test: 4440549.6557933	best: 4440549.6557933 (105)	total: 44.1s	remaining: 6m 12s
106:	learn: 5598075.1593806	test: 4440510.3467594	best: 4440510.3467594 (106)	total: 44.5s	remaining: 6m 11s
107:	learn: 5585325.1734458	test: 4440275.4729690	best: 4440275.4729690 (107)	total: 44.9s	remaining: 6m 10s
108:	learn: 5585228.8480647	test: 4440231.4204035	best: 4440231.4204035 (108)	total: 45s	remaining: 6m 7s
109:	learn: 5580166.2166088	test: 4438650.9677441	best: 4438650.9677441 (109)	total: 45.4s	remaining: 6m 7s
110:	learn: 5577361.9720571	test: 4438080.8076488	best: 4438080.8076488 (110)	total: 45.8s	remaining: 6m 7s
111:	learn: 5572521.3894791	test: 4435063.5698322	best: 4435063.5698322 (111)	total: 46.3s	remaining: 6m 6s
112:	learn: 5571908.2194964	test: 4434356.2653741	best: 4434356.2653741 (112)	total: 46.6s	remaining: 6m 5s
113:	learn: 5568457.7052429	test: 4432459.4758524	best: 4432459.4758524 (113)	total: 47s	remaining: 6m 5s
114:	learn: 5568419.3386269	test: 4432372.0065056	best: 4432372.0065056 (114)	total: 47s	remaining: 6m 1s
115:	learn: 5554515.7384850	test: 4427488.2011330	best: 4427488.2011330 (115)	total: 47.4s	remaining: 6m 1s
116:	learn: 5553072.2138592	test: 4426433.7091530	best: 4426433.7091530 (116)	total: 47.9s	remaining: 6m 1s
117:	learn: 5549879.4591346	test: 4423802.5261919	best: 4423802.5261919 (117)	total: 48.3s	remaining: 6m
118:	learn: 5549201.1204024	test: 4423243.9368603	best: 4423243.9368603 (118)	total: 48.7s	remaining: 6m
119:	learn: 5548971.2419884	test: 4422930.2075515	best: 4422930.2075515 (119)	total: 49.1s	remaining: 6m
120:	learn: 5548837.4697260	test: 4422823.1140709	best: 4422823.1140709 (120)	total: 49.5s	remaining: 5m 59s
121:	learn: 5537814.3452041	test: 4420386.4333127	best: 4420386.4333127 (121)	total: 49.9s	remaining: 5m 59s
122:	learn: 5524490.0432201	test: 4417689.1045243	best: 4417689.1045243 (122)	total: 50.3s	remaining: 5m 58s
123:	learn: 5515315.7903758	test: 4422783.2508353	best: 4417689.1045243 (122)	total: 50.8s	remaining: 5m 58s
124:	learn: 5503071.1856733	test: 4425150.8213268	best: 4417689.1045243 (122)	total: 51.2s	remaining: 5m 58s
125:	learn: 5499518.7860805	test: 4424496.0544065	best: 4417689.1045243 (122)	total: 51.6s	remaining: 5m 57s
126:	learn: 5482843.2713725	test: 4423330.9918078	best: 4417689.1045243 (122)	total: 52.1s	remaining: 5m 57s
127:	learn: 5478480.5198079	test: 4423201.3011243	best: 4417689.1045243 (122)	total: 52.5s	remaining: 5m 57s
128:	learn: 5478252.5130128	test: 4422797.3319198	best: 4417689.1045243 (122)	total: 52.5s	remaining: 5m 54s
129:	learn: 5462318.3472365	test: 4422080.5279427	best: 4417689.1045243 (122)	total: 53s	remaining: 5m 54s
130:	learn: 5449756.0901729	test: 4421312.2246725	best: 4417689.1045243 (122)	total: 53.4s	remaining: 5m 54s
131:	learn: 5449505.1334203	test: 4421345.5543079	best: 4417689.1045243 (122)	total: 53.7s	remaining: 5m 53s
132:	learn: 5447118.8930483	test: 4420999.5487157	best: 4417689.1045243 (122)	total: 54.1s	remaining: 5m 52s
bestTest = 4417689.105
bestIteration = 122
Shrink model to first 123 iterations.

In [21]:
preds = cat.predict(X_test)

In [22]:
df_preds = pd.DataFrame({"Actual Price": y_test, "Predicted Price": preds})

In [23]:
df_preds

        Actual Price  Predicted Price
55424      3685000.0     4.127700e+06
83606       800000.0     1.583045e+06
55039      7250000.0     6.633335e+06
46380     11790000.0     9.323907e+06
36315     11000000.0     8.517092e+06
...              ...              ...
117158     2450000.0     2.018597e+06
38238      6800000.0     6.443296e+06
115732      360000.0     5.427628e+05
98920      6500000.0     3.000051e+06
10564      2395000.0     2.849749e+06

[9793 rows x 2 columns]

In [24]:
from sklearn.metrics import mean_squared_error

# Root mean squared error 
print(mean_squared_error(df_preds["Actual Price"], df_preds["Predicted Price"])**0.5)

4417689.302911875